<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DeadraMustFallDBConnectionString"
    connectionString="Data Source=localhost;Initial Catalog=DeadraMustFall;Integrated Security=true"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>